body{
    margin: 0;
}

a{
    text-decoration: none;
}

a:visited{
    color: navy;
}


a:hover{
color: #0b5bbc;
}




.grid-container {
    display: grid;
    grid-template-rows: .7fr 2fr 3fr;
    background-color: grey;
}

.grid-container-pies {
    display: grid;
    grid-template-rows: .7fr 2fr 3fr 2fr;
    background-color: grey;
}

.nav-bar {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.nav-links{ 
    display:flex;
    justify-content: space-around ;
    align-items: center;
    color: navy;
    padding-left: 40px;
}

.logo-section{
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    height: 10rem;
}

.history-section {
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid 2px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 32px;
}

.history-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}
.history-text > *{
    padding-left: 1rem;
    padding-right: 1rem;
}

.history-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-pic > img {
    height: 400px;
    width: 400px;
}

.preview-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.preview-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    }

.preview-item > img{
    width: 250px;
    height:250px;
    margin-bottom: 16px;
}

.preview-link {
    background-color: #074186;
    color:white;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

footer {
   background-color: #074186; 
   display: grid; 
   
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .2fr;
    margin-top: 32px;
}

.footer-content > div {
    color: white;
    padding: 32px;
}

.left-divider {
    border: solid 2px white;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    }

.last-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.first-div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-social {   
    display: flex;
    align-items: center;
    justify-content: center;

}

.light-navy{
    background-color: #0b5bbc;
}
.light-text{
    color:#0b5bbc; 
}

.preorder-section{
    text-align: center;
    color:#074186;
    background-color: white;
}
.preorder-section > ol{
    color: black;
    list-style-position: inside;
    text-align: center;
}
.preorder-section > a{
    text-align: center;
    color: white;
    background-color: #074186;
   padding: 8px 16px 8px 16px;
   border-radius: 4px;
   margin-top: 32px;
}

.pieflavor-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    color: #074186;
    background-color: white;
    border: solid black 2px;
    border-left: 0px;
    border-right: 0px;
}

.pieflavor-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieflavor-img > img{
    width: 470px;
}

.flavor-list{
    color: black;
}

.pieprice-section{
    color: black;
    list-style-type: none;
}

.piepic-section{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    background-color: white;
    justify-content: center;
    padding-top: 32px;
}

.piepic-section > div > img{
width: 180px;
height: 180px;
}


@media (min-width: 1000px) {
    .history-text{
        font-size: 1.7rem;
    }
    .preview-item > img{
        width: 420px;
        height:420px;
        margin-bottom: 16px;
    }
    
    .preview-link {
        background-color: #074186;
        color:white;
        width: 420px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }
    .nav-links{ 
        display:flex;
        justify-content: space-around ;
        align-items: center;
        color: navy;
        padding-left: 40px;
        font-size:20px ;
    }
    .light-navy{
        background-color: #0b5bbc;
    }
    .light-text{
        color:#0b5bbc; 
    }
    .piepic-section > div > img{
        width: 320px;
        height: 320px;
        }

        .pieflavor-img > img{
            width: 650px;
        }

        .pieflavor-text{
            font-size: 25px;
        }

        .preorder-section{
            font-size: 20px;
        }
}